/*Присоединяйтесь Соц.СЕТИ ФУТЕРА*/
.join-menu {
    display: block;
    width: 270px;
    margin-right: 30px;
    /* padding-top: 72px; */
}
.join {
    @extend %join-menu-footer;
}
.join-href {
    @extend %join-menu-footer;

    &:hover {
        color: $accent-color;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
    }
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}