.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 1;
    transition: opacity var(--transition);
}

/* Modal окно для отзыва!*/
.backdrop.is-hidden {
    pointer-events: none;
    opacity: 0;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

.modal {
    position: absolute;
    max-width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition);
}

.modal .close {
    width: 11px;
    height: 11px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: $white-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.modal .close:hover,
.modal .close:focus {
    fill: $accent-color;
}

.modal-title {
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-title-colo;
    margin-top: 0;
    margin-bottom: 12px;
}

.modal-label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.comment-area {
    margin-bottom: 20px;
}

.modal-item {
    margin-top: 4px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .comment {
    resize: none;
    margin-top: 4px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    padding: 12px 16px;
}

.modal .comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.form-item {
    position: relative;
    margin-bottom: 10px;
}

.black-phone {
    padding: 2px;
}

.black-email {
    padding: 1px;
}

.black-member {
    padding: 3px;
}

.modal-icon.black-phone,
.modal-icon.black-email,
.modal-icon.black-member {
    position: absolute;
    top: 50%;
    left: 15px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-item:hover,
.modal-item:focus {
    border: 1px solid $accent-color;
    outline: 0;
}

.modal-item:hover+.modal-icon,
.modal-item:focus+.modal-icon {
    fill: $accent-color;
}

/** Checkbox Кнопка отправки + соглашения*/
.checkbox {
    display: none;
}

/*top Modal-checkbox*/
.modal-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.modal-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.modal-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid black;
    border-radius: 2px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-checkbox:checked+label::before {
    border-color: $accent-color;
    background-color: $accent-color;
    background-image: url(../images/SVG/checkbox.svg);
    cursor: pointer;
}

/* стили при наведении курсора на checkbox */
.modal-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: $accent-color;
}

.policy-site {
    margin-left: 0.5em;
    color: $accent-color;
    text-decoration: none;
}

.checkstyle {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 13px;
    font-size: 14px;
    line-height: 1.17;
}