/* social for header mail and phone */
.icon-smartphone {
    vertical-align: middle;
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}
.icon-envelope {
    vertical-align: middle;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}
.social-icon {
    fill: currentColor;
}