@mixin gbody ($bg-c, $c, $fw, $m) {
    background-color: $bg-c;
    color: $c;
    font-weight: $fw;
    margin: $m;
}
@mixin gcontainer ($w, $pr, $pl, $ml, $mr) {
    width: $w;
    padding-right: $pr;
    padding-left: $pl;
    margin-left: $ml;
    margin-right: $mr;
}
@mixin gtitle($m, $fw, $fs, $lh, $ta, $ls, $tt, $c) {
    margin: $m;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    text-align: $ta;
    letter-spacing: $ls;
    text-transform: $tt;
    color: $c;
}
@mixin glist-title($mt, $mb, $fw, $fs, $lh, $ls, $tt) {
    margin-top: $mt;
    margin-bottom: $mb;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
    text-transform: $tt;
}