%join-menu-footer {
    display: block;
    text-align: left;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:$white-color;
}
%padding-sect {
    padding: 94px 0;
    /* background-color: yellow; */
}
%sect-tit-port {
    /* margin-top: 20px; */
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    color: $primary-title-colo;
}
%section-title {
    /* margin-top: 20px; */
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    line-height: 1.16;
    letter-spacing: 0.06em;
    color: $primary-title-colo;
}