$primary-title-color: #212121;
$title-text-color: #757575;
$accent-color: #2196f3;
$white-color: #ffffff;
$black-color: #000000;
$background-color: #f5f4fa
$background-footerr: #2f303a;
$background-portfolio: #e5e5e5;

$footer-text-color: rgba(255, 255, 255, 0.6);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

